<div class="container">
  <h1>Log In</h1>
  <div class="form">
    <form clrForm [formGroup]="loginForm">
      <clr-input-container class="clr-row">
        <label class="clr-col-3">Email</label>
        <input class="clr-col-6" clrInput formControlName="email" />
        <clr-control-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required">
          Email is required</clr-control-error>
        <clr-control-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.email">
          Invalid email</clr-control-error>
      </clr-input-container>
      <clr-input-container class="clr-row">
        <label class="clr-col-3">Password</label>
        <input type="password" class="clr-col-6" clrInput formControlName="password" />
        <clr-control-error>Password is required</clr-control-error>
      </clr-input-container>

    </form>
    <button class="btn btn-primary" (click)="submit()" [disabled]="loginForm.invalid">Login</button>
  </div>
  <div class="clr-row" style="width: 480px;">
    <div class="clr-col-2">
      <a class="pointer">Forgot Password</a>
    </div>
    <div class="clr-col-8"></div>
    <div class="clr-col-2">
      <a class="pointer" routerLink="/register">Sign Up</a>
    </div>
  </div>
</div>
