<div class="main-container">
  <div class="clr-row">
    <div class="clr-col-2"></div>
    <div class="clr-col-8">
      <ng-container *ngIf="alert">
        <div class="alert alert-success" role="alert" *ngIf="alert.type === 'success'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">{{alert.message}}</span>
            </div>
          </div>
        </div>
        <div class="alert alert-error" role="alert" *ngIf="alert.type === 'error'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">{{alert.message}}</span>
            </div>
          </div>
        </div>
        <div class="alert alert-info" role="alert" *ngIf="alert.type === 'info'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">{{alert.message}}</span>
            </div>
          </div>
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="alert.type === 'warning'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">{{alert.message}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="clr-col-2"></div>
  </div>
  <div class="content-container">
    <div class="content-area">
      <app-login></app-login>
    </div>
  </div>
</div>
