<div class="container">
  <h1>Sign Up</h1>
  <div class="form">
    <form clrForm [formGroup]="registerForm">
      <clr-input-container class="clr-row">
        <label class="clr-col-3">Name</label>
        <input class="clr-col-6" clrInput formControlName="name" />
        <clr-control-error>Name is required</clr-control-error>
      </clr-input-container>
      <clr-input-container class="clr-row">
        <label class="clr-col-3">Email</label>
        <input class="clr-col-6" clrInput formControlName="email" />
        <clr-control-error
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.required">
          Email is required</clr-control-error>
        <clr-control-error
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.email">
          Invalid email</clr-control-error>
      </clr-input-container>
      <clr-input-container class="clr-row">
        <label class="clr-col-3">Password</label>
        <input type="password" class="clr-col-6" clrInput formControlName="password" />
        <clr-control-error>Password is required</clr-control-error>
      </clr-input-container>

    </form>
    <button class="btn btn-primary" (click)="submit()" [disabled]="registerForm.invalid">Sign Up</button>
  </div>
  <div class="clr-row" style="width: 480px;">
    <div class="clr-col-2">
      <a class="pointer">Forgot Password</a>
    </div>
    <div class="clr-col-8"></div>
    <div class="clr-col-2">
      <a routerLink="/" class="pointer">Login</a>
    </div>
  </div>
</div>
